body{
    text-align:center;
    background-color: #726953;
    font-family: "Merriweather", sans-serif;
}

#website-heading{
    font-size: 46px;
}

#main-nav{
    background-color: #5b3000;
    margin: 20px;
}

#main-nav ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    padding: 15px;
}

#main-nav ul li a{
    color: wheat;
}

a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#sources{
    font-size: 16px;
    color: rgb(3, 3, 235);
    text-decoration: underline;
}

.content-container{
    background-color: #66462c; 
    color: wheat;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
}

li{
    font-size: 22px;
}

p{
    font-size: 22px;
}

h2{
    font-size: 30px;
}

#lockgif{
    width: 500px;
}

#remember{
    width: 400px;
}

#password{
    width: 400px;
}

#main-nav ul li:hover{
    background-color: black;
    color: white;
}

#quiz-container{
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    background-color: white;
    background-color: antiquewhite;
}

#question{
    text-align: left;
    font-size: 24px;
    padding-left: 40px;
}

#btn-container{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    font-size: 16px;
    margin: 10px;
    padding: 15px;
    width: 500px;
    border-radius: 5px;
    border: none;
    background-color: tan;
    cursor: pointer;
}

.btn:hover{
    background-color: #442a15;
    color: white;
    cursor: pointer;
}

#next{
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: tan;
}

#next:hover{
    background-color: #442a15;
    color: white;
    cursor: pointer;
}
